{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:playwright/playwright-test",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "playwright/missing-playwright-await": ["error"],
    "playwright/no-page-pause": ["warn"],
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "error"
  }
}